* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.carousel-item img {
    height: 536px;
    object-fit: cover;
}

.food-category{
   margin-top: 2.2rem;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 20px;
}
.food-category .category-items {
    background: #edecec;
    cursor: pointer;
    border-radius: 5px;
}

.food-category .category-items .cat-content {
    padding: 1.2rem;
}
.food-category .category-items h4{
   text-align: center;
   color: #444;
}
.food-category .category-items .cat-img img {
    width: 100%;
}


/* food carousel */
.food-item {
    background-color: #fcfafa;
    margin: 0;
}
/* .food-item img {
    height: 30$;
} */
.food-item .food-details {
    padding-top: 0.5rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 1px solid; */
}

.food-item .food-details .ratings{
    font-size: 13px;
    margin: 0;
}
.food-item .food-details .price {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    color: rgb(255, 132, 0);
    text-align: center;
}
.food-item .food-details .price .or-price {
    color: black;
    text-decoration: line-through;
    font-size: 16px;
}
.food-item .food-details h3 {
    margin-bottom: 0;
    font-size: 19px;
    font-weight: 600;
}

.food-item .food-details .order-btn {
  background-color: rgb(255, 132, 0);
  color: #fff;
  margin: 0.6rem;
  padding: 0.3rem 1rem;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  
}
/* food carousel */

/* contact us page design */
.contact-form {
   display: grid;
   grid-template-columns: 2fr 1fr;
   margin-bottom: 2rem;

}
.contact-form h3 {
    font-size: 22px;
    font-weight: 700;
    color: #444;
}
.contact-form .form {
    /* border: 1px solid #333; */
    padding: 1.2rem 2rem;
    background-color:#f7f5f5;
}

.contact-form .address {
    /* border: 1px solid #333; */
    padding: 1.2rem 2rem;
    background-color:#efefef;
    
}
.contact-form .address .addr {
    display: flex;
    align-items: center;
}
.contact-form .address .addr p {
    font-size: 18px;
}
/* !contact us page design */

/* About Us Page */
.team-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.team-card .members {
    /* border: 1px solid; */
    width: 280px;
    margin: 0;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(
        135deg,
        hsl(25 98% 70%),
        hsl(23.9645 96.8689% 69.7096%),
        hsl(21.0027 93.4957% 68.9107%),
        hsl(16.5084 88.0997% 67.7756%),
        hsl(11.099 81.428% 66.5035%),
        hsl(5.69633 74.8663% 65.3092%),
        hsl(1.56759 70.0643% 64.439%),
        hsl(0.00000265346 68.306% 64.1176%)
      );

      margin-bottom: 0.4rem;
      padding-bottom: 1.8rem;

}
.members .member-profile {
    width: 64%;
    height: 180px;
    margin: 0 auto;
    /* border: 1px solid; */
    padding: 0.7rem;
}
.members .member-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    color: #fff;
    border: 3px solid #edecec;
}
.members h3 {
    font-size: 22px;
    margin: 0;
    color: #fff;
}
.members p {
    margin: 0;
    color: #efefef;
}
.members .mail a {
    /* text-decoration: none; */
    color: #efefef;
}
.members .mail {
    font-size: 14px;
    margin-bottom: 0.7rem;
}








/* !About Us Page */



/* footer */
footer {
   
}

footer .upper-footer {
    display: flex;
   justify-content: space-around;
   align-items: start;
}

footer div {
    margin-top: 2rem;
    color: #fff;
    /* border: 1px solid; */
}

footer div h3 {
    font-size: 22px;
    font-weight: 900;
}
footer .footer-link {
    /* border: 1px solid red; */
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
footer .footer-link ul {
    width: 100%;
    /* border: 1px solid red; */
}
footer .footer-link ul li {
    list-style: none;
    line-height: 1.8;
    font-size: 18px;
}
footer .footer-link ul li a{
    text-decoration: none;
    color: #efefef;
}
/* !footer */


/* mobile */
@media (max-width: 600px) {
    .food-category {
        grid-template-columns: 1fr 1fr;
    }
    /* contact us page */
    .contact-form {
        
        grid-template-columns: 1fr;
     
     }
     .team-card {
        flex-direction: column;
    }
    /* !contact us page */
    footer .upper-footer {
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (min-width: 600px) {
    .food-category {
        grid-template-columns: 1fr 1fr;
    }

    
    /* contact us page */
    
    /* !contact us page */
    footer .upper-footer {
        flex-direction: column;
        align-items: center;
    }
}

/* tablet */
@media only screen and (min-width: 768px) {
    .food-category {
        grid-template-columns: repeat(3, 1fr);
    }
    
}

/* desktop */
@media only screen and (max-width: 992px) {
    /* contact us page */
    .contact-form {
        
        grid-template-columns: 1fr;
     
     }
    /* !contact us page */
}
@media only screen and (min-width: 992px) {
    .food-category {
        grid-template-columns: repeat(4, 1fr);
    }
}