.top_cat
{
	border: 0px solid black;
	display:flex;
	justify-content: space-around;
	align-items: center;
}
.top_cat_pro
{
	border: 0px solid red;
	width: 370px;
	height: 310px;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.35);
	transition: transform 1s;
}
.top_cat_pro:hover
{
	transform: scale(1.05);
}
.top_cat_pro img
{
	width: 100%;
}
.checked
{
	color: orange;
}
.starr
{
	border: 0px solid black;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.title p
{
	text-align: center;
	font-size: 17px;
}
.title b
{
	color: green;
	font-size: 20px;
}
.btn
{
	border: 0px solid green;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn input
{
	height:40px;
	width: 130px;
	border-radius: 7px;
	border: 0px;
	background-color: orange;
	font-size: 20px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.35);
}
.btn input:hover
{
	background-color: green;
	color: white;
}